CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_OFFSET=0xc000
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_pre_prov_nvs.csv"
CONFIG_ESP_SECURE_CERT_NVS_PARTITION=y
CONFIG_ESP_SECURE_CERT_PARTITION_NAME="pre_prov"
CONFIG_ESP_SECURE_CERT_KEYS_PARTITION_NAME="pre_prov_keys"
