[submodule "components/esp_secure_cert_mgr"]
	path = components/esp_secure_cert_mgr
	url = https://github.com/espressif/esp_secure_cert_mgr.git
[submodule "components/esp-aws-iot"]
	path = components/esp-aws-iot
	url = https://github.com/ActoryOu/esp-aws-iot/
[submodule "components/FreeRTOS-Libraries-Integration-Tests/FreeRTOS-Libraries-Integration-Tests"]
	path = components/FreeRTOS-Libraries-Integration-Tests/FreeRTOS-Libraries-Integration-Tests
	url = https://github.com/ActoryOu/FreeRTOS-Libraries-Integration-Tests
	branch = lts-2.0
