menu "Golden Reference Integration"
    config APP_WIFI_PROV_SHOW_QR
        bool "Show provisioning QR code"
        default y
        help
            Show the QR code for provisioning.

    choice APP_WIFI_PROV_TRANSPORT
        bool "Provisioning Transport method"
        default APP_WIFI_PROV_TRANSPORT_BLE
        help
            Wi-Fi provisioning component offers both, SoftAP and BLE transports. Choose any one.
    config APP_WIFI_PROV_TRANSPORT_SOFTAP
        bool "Soft AP"
    config APP_WIFI_PROV_TRANSPORT_BLE
        bool "BLE"
        select BT_ENABLED
    endchoice

    config APP_WIFI_PROV_TRANSPORT
        int
        default 1 if APP_WIFI_PROV_TRANSPORT_SOFTAP
        default 2 if APP_WIFI_PROV_TRANSPORT_BLE

    config GRI_MQTT_ENDPOINT
        string "Endpoint for MQTT Broker to use"
        default ""

    config GRI_MQTT_PORT
        int "Port for MQTT Broker to use"
        default 8883

    config GRI_THING_NAME
        string "Thing name"
        default ""

    config GRI_ENABLE_SIMPLE_PUB_SUB_DEMO
        bool "Enable simple pub sub demo"
        default y

    config GRI_ENABLE_TEMPERATURE_LED_PUB_SUB_DEMO
        bool "Enable temperature sensor and LED control pub sub demo"
        default y
    
    config GRI_ENABLE_OTA_DEMO
        bool "Enable OTA demo"
        default y
    
    menu "OTA demo configurations"
        depends on GRI_ENABLE_OTA_DEMO

        config GRI_OTA_DEMO_MAX_FILE_PATH_SIZE
            int "Max file path size."
            default 260
            help
                The maximum size of the file paths used in the demo.

        config GRI_OTA_DEMO_MAX_STREAM_NAME_SIZE
            int "Max stream name size."
            default 128
            help
                The maximum size of the stream name required for downloading update file from streaming service.
        
        config GRI_OTA_DEMO_TASK_DELAY_MS
            int "OTA statistic output delay milliseconds."
            default 1000
            help
                The delay used in the OTA demo task to periodically output the OTA statistics like number of packets received, dropped, processed and queued per connection.

        config GRI_OTA_DEMO_MQTT_TIMEOUT_MS
            int "MQTT operation timeout milliseconds."
            default 5000
            help
                The maximum time for which OTA demo waits for an MQTT operation to be complete. This involves receiving an acknowledgment for broker for SUBSCRIBE, UNSUBSCRIBE and non QOS0 publishes.

        config GRI_OTA_DEMO_AGENT_TASK_PRIORITY
            int "OTA agent task priority."
            default 1

        config GRI_OTA_DEMO_AGENT_TASK_STACK_SIZE
            int "OTA agent task stack size."
            default 4096

        config GRI_OTA_DEMO_APP_VERSION_MAJOR
            int "Application version major."
            default 0

        config GRI_OTA_DEMO_APP_VERSION_MINOR
            int "Application version minor."
            default 0

        config GRI_OTA_DEMO_APP_VERSION_BUILD
            int "Application version build."
            default 0

    endmenu # OTA demo configurations

    choice EXAMPLE_CHOOSE_PKI_ACCESS_METHOD
    prompt "Choose PKI credentials access method"
    default EXAMPLE_USE_PLAIN_FLASH_STORAGE
    help
        ESP devices support multiple ways to secure store the PKI credentials.
        Currently Secure Element (ATECC608A) and DS peripheral are supported.
        The default behaviour is to access the PKI credentials which are embedded in the binary.
        Consult the ESP-TLS documentation in ESP-IDF Programming guide for more details.

    config EXAMPLE_USE_SECURE_ELEMENT
    bool "Use secure element (ATECC608A)"
    depends on ESP_TLS_USE_SECURE_ELEMENT
    help
        Enable the use of secure element for the example.
        The esp-cryptoauthlib component is required for enabling
        this option.

    config EXAMPLE_USE_DS_PERIPHERAL
    bool "Use DS peripheral"
    depends on ESP_TLS_USE_DS_PERIPHERAL
    help
        Enable the use of DS peripheral for the example.
        The DS peripheral on the device must be provisioned first to use this option.

    config EXAMPLE_USE_PLAIN_FLASH_STORAGE
    bool "Use flash storage (default)"
    help
        This option expects the Private key and Device certificate to be embedded in the binary.
        This is the default behaviour.
    endchoice

endmenu # Golden Reference Integration 


